#heading{
  text-align: center;
  justify-content: center;
}
span{
  margin-top:5px;
  margin-right: 40px;
  font-size:16px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: 400;
  font-variant: inherit;}
  .todocontainer{
  margin-top: 5px;
    display:grid;
   grid-template-columns:200px 130px 80px; 
   column-gap:10px;
   row-gap:10px;
   align-items: center;
   justify-content: center;
  }
  .ff{
  background-color: rgb(253, 0, 0);
    height:31.2px;
    border-radius: 8px;
    color: aliceblue;
  }
  #to-do-input{
    padding:5px
  }
  #todo-date{
    padding:5px;
  }
  #gg{
    background-color: rgb(33, 167, 10);
    height: 30px;
    border-radius: 8px;
    color: aliceblue;
  }
body{
  color: rgb(41, 23, 60);
  background-color: rgb(90, 139, 224);
 
}
button:hover{
  transform:scale(1.1);
}
button:active {
  transform: scale(1); /* Scaling down further when the button is clicked */
}

  